.mobile-menu-button {
    height: 60px;
    width: 60px; 
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 35px;
    cursor: pointer;
    float: right;
        }
.lines-button {
    height: 60px;
    width: 60px; 
  display: flex;
    justify-content: center;
    align-items: center;
   transition: .3s;
    z-index: 2;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.lines-button .lines {
    position: relative;
    vertical-align: middle;
}
.lines-button .lines:before {
    top: 8px; 
    
    /* px a kozepso folott */
}
.lines-button .lines:after {
    top: -8px;
    /* 5px a kozepso alatt */
}
.lines-button .lines:before, .lines-button .lines:after, .lines-button .lines>span {
    content: '';
    left: 0;
    position: absolute;
    transition: top .3s .6s ease-in-out,transform .3s ease-in-out;
    transform-origin: 20px center;
    background-color: black;
}
.lines-button .lines, .lines-button .lines:before, .lines-button .lines:after, .lines-button .lines>span {
    border-radius: 5px;
    display: inline-block;
    height: 4px;
    width: 40px;
}
.lines-button.toggle .lines>span {
    transform: translateY(-50%);
    top: 50%;
    display: none;
    
}
.lines-button.toggle .lines:before {
    transform: rotate3d(0,0,1,45deg);
    z-index: 2;
}
.lines-button.toggle .lines:after {
    transform: rotate3d(0,0,1,-45deg);
    z-index: 2;
}
.lines-button.toggle .lines:before, .lines-button.toggle .lines:after {
    transition: top .3s ease-in-out,transform .3s .5s ease-in-out;
    top: 0;
}
.lines-button.toggle #menu {
    display: flex;
}  
#menu {
    display: none;
    justify-content: center;
    position: absolute;
    padding-top: 160px;
    padding-bottom: 200px;
    right: -43px;
    top: -63px;
    background-color: rgb(25 31 52 / 96%);
    font-weight: 300;
    width: 100vw;
       
}
.menu-list li {
    list-style: none;
    }    
.menu-list ul {
        padding: 0;
        }    
.menu-list a {
    text-decoration: none;
    line-height: normal;
    font-size: 50px;
    
    /* display: block; */
    padding: 5px 150px 5px 150px;
    cursor: pointer;
  }

.menu-list a:link,
.menu-list a:visited,
.menu-list a:focus {
  /* background:rgb(146, 185, 210); */
  color: white;
}
.menu-list a:hover {
    /* background: rgb(208, 206, 185); */
    color:grey;
}
.menu-list a:active {
    /* background: rgb(42, 81, 139); */
    color:grey;
  }
