@import url("./menu.css"); 
@import url("./formcarry-container.css");
body {  
    background-size: cover;
    background-image: url("./pic/blueback.jpg") ;
    background-repeat: no-repeat;
    text-align: center;
    text-align: justify;
    font-size: 20px;
    font-family: "caption", sans-serif;
    color: white;
}
h4 {
        font-size: 50px;
        font-family: "Sedan", system-ui;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
        text-decoration: solid underline white 1.5px;
        text-underline-offset: 30px;
         }

.welcome-page {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center; 
}
.welcome-page img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;  
}
.recipies-wrapper {
    display: flex;
    gap: 10px;
    padding: 40px;
    }
    .recipies-wrapper img {
    border:5px solid #3b4149;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}
.logo-wrapper {
    background-image: url("./pic/background1366_150.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 150px;
}
.logo {
    background-image: url("./pic/lotus.png");
    width: 150px;
    height: 100px;
    float: left;
    margin: 20px;
}

/* /////Meet your coach///// */
.coach-wrapper { 
    background-color: #f9f7ea;
    display: flex;   
       }
       .coach-wrapper img {
           width: auto;
           height: 600px;
       }
.coachtextcard {
    color: black;
    padding: 40px;
    }
.coachimgcard {
  display: flex;
 }

@media (max-width: 1000px) {
    .coach-wrapper{
        display: block;
    }
    /* .coachtextcard {
        position: relative;
        margin-right: -200px;
        padding: 50px;
        margin-right: 0;

    } */
   
}


.text { 
    font-family: "Sedan", system-ui;
    font-optical-sizing: auto;
    font-size: 50px;
    text-align: center;
            }
/* /////////////// consultation-container ////////////////// */
 
.consultation-container {
    background-color:#c4a668;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: #25384f;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
} 
.oblique-text {
    color:#222d39;
    font-weight: 500;
    text-align: center;
    margin: 10px;
    font-style: oblique;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}
.highliht {
    color: #76fbf0;
    }

.getstartedbuttonbody {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.getstarted-button a {
    padding: 10px 30px;
    background-color:#0c1f36;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    box-shadow: 3px 3px rgb(65, 97, 127);  
    border-radius: 50px;
    border: none;
}
.getstarted-button a:hover {
    background-color:#848484;
    cursor: pointer;
    border-radius: 50px;
}
.getstarted-button a:active {
    background-color:black;
    border-radius: 50px;
}

/* /////////////// consultation-container end ////////////////// */
/* /////////////// yogabio-container /////javitva///////////// */
.yogabio-wrapper {
    display: flex;
       background-image: url("./pic/mandala-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
} 
@media (max-width: 1000px) {
    .yogabio-wrapper{
        flex-direction: column;
    }
}
.yogabio-wrapper img {
    width: 480px;
    height: 310px;
    border-radius: 30px;
    filter: drop-shadow(white 2rem 2rem 15px);
}
.yogabio-wrapper >div {
    display: flex;
        margin: 40px;   
}
.floating-img {
    z-index: 1;
    margin-top: 260px;
    margin-left: -240px;
}
.yogabio-textcard {
        background-color: rgba(246, 251, 252, 0.864);
    border-radius: 30px;
    text-align: justify;
    padding: 60px;
    width: fit-content;
    height: auto;
    }
/* /////////////// yogabio-container end ////////////////// */
/* ////////////////////////////////////////legal-conact-wrapper/////////////////// */
.legal-conact-wrapper {
    display: flex;
    gap: 150px;
    padding: 40px; 
    text-align: left;
    color: white;
    font-size: 15px;
}
.legal-conact-wrapper li {
    list-style: none;
    }
.legalcard a {
    text-decoration: none;
    color: white;
    }
.legalcard a:active {
    color: grey;
}
.contacticonlinks {
    display: flex;
    gap: 10px;
    } 
.contacticonlinks img {
    width: 50px;
    height: 50px;
}

/* ////////////////////////////////////////legal-conact-wrapper rnd/////////////////// */









.flex-container {
    display: flex;
    flex-wrap: wrap;
    border:5px solid #3b4149;
    background-color: #8080a0;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    
}
.flex-container > div {
    flex-basis: 50%; 
    flex-grow: 1;
}     

.flex-price {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.flex-price ul li {
    text-align: left;
    list-style: square;
}
.plan-price {
    font-size: 23px;
    font-weight: bold; 
}
.bronze {
    flex: 1;
    background-color:#d2a071;
    padding: 20px;
    max-width: 400px;
}
.silver {
    flex: 1;
    background-color:#bababc; 
    padding: 20px;
    max-width: 400px;
}
.gold {
    flex: 1;
    background-color:#e1b868;
    padding: 20px;
    max-width: 400px;
}

   #main {
    border-radius: 12px;
    height: 100px;
    width: 250px;
    padding: 40px;
    margin: 10px;
    background-color:#c4a668;
    font-family: "caption", sans-serif;
    
}

.yogaholiday-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.yogaholidayimg {
    width: 800px;
}
.yogaholiday-card1 {
    display: flex;
    gap:60px;
    margin-left: 100px;
    }
.yogaholidaytext1 {
    padding: 100px 20px;
    text-align: justify;
        }
.yogaholiday-card2 {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    }
   

.yogaholidaytext2 {
    background-color: #a6a6a6;
    position: relative; 
    padding: 20px;
    margin: 60px -150px 60px 100px;
    text-align: justify;
}
/* Relative positioning: This is very similar to static positioning, except that once the positioned element has taken its place in the normal flow, you can then modify its final position, including making it overlap other elements on the page. */
/* modify the element's position? You need to use the top, bottom, left, and right properties */

.footercontainer {
    display: flex;
    background-color: #25384f;
    text-align: center;
    padding: 10px;
    justify-content: center;
    justify-items: end;
    color:white;
    
    clear: both;
}

