@import url("./menu.css");
@import url("./formcarry-container.css");

/* RESET */
* {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: 200%;
}
li {
  list-style: none;
  padding: 5px 20px;
  padding-left: 0px;
}
h1 {
  font-family: "Poppins", serif;
  font-style: normal;
  }
h2 {
  font-family: "Libre Baskerville", serif;
  padding: 15px;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
}
h3 {
  font-family: "Hanuman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 5px;
}
h4 {
  padding-bottom: 20px;
  font-family: "Sedan", system-ui;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration: solid underline white 1.5px;
  text-underline-offset: 20px;
}
p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

/* BASE STYLE */
.body {
  background-color: #a8f0f7;
  font-family: "inter", sans-serif;
  height: 100vh;
}
.card-text {
 padding: 20px;
}
.fl-text {
 padding: 20px;
 flex-basis: 100%;
}
.center-text {
  justify-items: center;
  text-align: justify;
  padding: 20px;
  flex-basis: 100%;
}
.textandbtn {
  display: flex;
flex-wrap: wrap;
}
.oblique-text {
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  font-weight: 500;
}
.index-img {
  border: 5px solid #c4a668;
  border-radius: 20px;
  height: 500px;
  margin: 20px;
  filter: drop-shadow(rgba(0, 0, 0, 0.781) 1rem 1rem 10px);
}
.tiny {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.logo {
  display: block;
  padding: 5px;
  height: 100px;
}
.align-center {
  height: 100%;
  align-items: center;
}
.header {
  background-color: #aaccf5;
  width: 100%;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
.nagini {
  padding: 40px;
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
}
.links {
  display: flex;
  column-gap: 40px;
  text-transform: uppercase;
}
.links a {
  color: white;
  text-decoration: none;
}
.links a:hover {
  color: black;
  transition: 0.3s;
}
.links a:active {
  color: grey;
}
.btn {
  border: none;
  background: #c79e52;
  padding: 12px 30px;
  margin: 10px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}
.button {
  min-width: 250px;
  margin: 20px;
  text-align: center;
}
.cpp {
 margin: 15px;
text-align: center; 
}
.button a {
  color: white;
  text-decoration: none;
  background-color: #0c1f36;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 30px;
}
.button a:hover {
  background-color: #000000;
}
.background {
  background-image: url("./pic/background1366_150.jpg");
  color: white;
  background-size: cover;
  padding: 20px;
  text-align: center;
}
.blue-bg {
  width: 100%;
  min-height: max(100vh, 100%);
  background-image:
    linear-gradient(rgba(8, 28, 41, 0.4), rgba(8, 28, 41, 0.4)),
    url("./pic/blueback.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.blue {
  background-color: #7faecb;
}
.goldplate {
  background-color: #c79e52;
  color: #0c1f36;
  padding: 20px;
  text-align: center;
}
.border {
  border: 1px solid black;
  margin: 10px;
}
.arrow-class {
  transform: rotate(180deg);
}
.arrowStyle {
  background: none;
  border: 0;
  width: 50px;
  height: 50px;
}
.flex {
  display: flex;
  justify-self: center;
  min-width: 250px;
}
.boundle {
  display: flex;
}
.offer {
  justify-content: end;
  z-index: 1;
}
.golditem-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 50px;
}
.golditem-card {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: #c79e52;
  border: 4px solid transparent;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.781) 1rem 1rem 10px);
}
.golditem-card img {
  width: 100%;
  height: 100%;
    object-fit: cover;
}
/* //////////////Meet your coach///////////////// */
.coach__wrapper {
  padding: 50px;
}
/* /////////////// consultation-container ////////////////// */
.highliht {
  color: white;
  background-color: #0c1f36;
  font-family: "Roboto Condensed", sans-serif;
  font-style: oblique;
  border-radius: 30px;
  padding: 5px 20px;
}
/* /////////////// yogabio-container /////javitva///////////// */
.yogabio-wrapper {
  display: flex;
  background-image: url("./pic/mandala-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  gap: 40px;
}
.ybioimg-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}
.yogabio-wrapper img {
  width: 500px;
  height: 310px;
  border-radius: 30px;
  filter: drop-shadow(rgba(0, 0, 0, 0.781) 1rem 1rem 10px);
}
.floating-img {
  z-index: 1;
  margin-top: 260px;
  margin-left: -240px;
}
.yogabio-text {
  background-color: rgba(246, 251, 252, 0.811);
  border-radius: 30px;
  text-align: justify;
  text-wrap: pretty;
  padding: 20px;
  margin: 200px 50px;
}
/* ////////////////////////////////////////CLASS-container//////// */
.blackcontainer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
.classicon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.classicon-wrapper a {
  text-decoration: none;
  color: white;
}
.classicon-wrapper a:active {
  color: grey;
}
.classicon-wrapper img {
  height: 300px;
  border-radius: 30px;
  margin: 20px;
}
.classicon-wrapper img:hover {
  transform: scale(1.1);
}
/* /////////////////////////////////////////Prsonal training in the gym */
.pt-wrapper {
  display: flex;
  background-color: #000000;
  padding-bottom: 50px;
}
.pt-content {
  display: flex;
}
.pt-content1 {
  display: flex;
  flex-direction: row-reverse;
}
.pt-text-background {
  background-image: url("./pic/b&w.jpg");
  margin-right: 50px;
  background-size: cover;
}
.pt-text-background1 {
  background-image: url("./pic/b&w.jpg");
  margin-left: 50px;
  background-size: cover;
}
.pt-text {
  background-color: rgba(255, 255, 255, 0.51);
  text-align: justify;
  padding: 20px;
}
.pt-wrapper img,
.pt-wrapper1 img {
  height: 650px;
}
.media-pttext {
  display: none;
}
/* //////////////////////////////////////////////YogaHoliday */
.yogaholiday-wrapper {
  background-image: url("./pic/blueback.jpg");
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.yogaholiday-wrapper img {
  width: 800px;
}
.yogaholidaytext1 {
  padding: 50px;
  margin-top: 100px;
}
.yogaholidaytext2 {
  background-color: #a6a6a6;
  z-index: 1;
  padding: 50px 20px;
  margin: 100px -280px 100px 0px;
}
/* Relative positioning: This is very similar to static positioning, except that once the positioned element has taken its place in the normal flow, you can then modify its final position, including making it overlap other elements on the page. */
/* modify the element's position? You need to use the top, bottom, left, and right properties */
.training-card {
  display: flex;
  width: 33%;
  flex-direction: column;
}
.training-card img {
  width: 100%;
}
/* --------------YOGA CLASS-------------- */
.class-discription-text {
  text-align: justify;
  padding: 20px;
  margin-top: 200px;
}
.xl-text {
  color: #5a94ba;
  text-shadow: 3px 3px 4px rgb(5, 5, 5);
}
.xl-text > div {
  position: absolute;
  z-index: 1;
}
.xl-text h2 {
  font-size: 10vw;
}
.matimg-wrapper {
  display: flex;
  background-image: url("./pic/blue_mat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.groupclass-text {
  text-align: justify;
  padding: 40px;
  margin-top: 250px;
}

/* ////////////////////////////////////////legal-conact-wrapper/////////////////// */
.icons {
  display: flex;
}
.legal {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  background-image: url("./pic/blueback.jpg");
  color: white;
}
.legal a {
  color: white;
  text-decoration: none;
}
.item {
  flex: 1 0 40%;
}
/* ////////////////////////////////////////FOOTER/////////////////// */
footer {
  background-color: #1b405e;
  text-align: center;
  padding: 10px;
  color: white;
}
/* MEDIA QUERIES */
@media (max-width: 650px) {
  .flex {
    flex-direction: column;
  }
  .header__content {
    flex-direction: column;
    padding: 25px 0;
    row-gap: 18px;
  }
  .index-img {
    align-items: center;
  }

  .golditem-card {
    width: 100%;
  }
  .yogabio-wrapper {
    flex-direction: column;
    padding: 0px;
  }
  .ybioimg-wrapper {
    padding-top: 50px;
  }
  .yogabio-text {
    border-radius: 0px;
    padding: 20px 100px;
    margin: 0;
  }
  .pt-content,
  .pt-content1 {
    flex-direction: column;
  }
  .pt-content1 img {
    float: right;
  }
  .pt-text-background,
  .pt-text-background1 {
    margin: 0;
  }
  .pt-img-wrapper {
    display: flex;
  }
  .media-pttext {
    display: block;
    padding-top: 200px;
    text-align: center;
    color: white;
  }
  .yogaholiday-card1 {
    flex-direction: column;
    text-align: center;
    color: white;
  }
  .yogaholidaytext1 {
    padding: 0px;
    margin-top: 0px;
  }
  .yogaholiday-card2 {
    flex-direction: column;
    text-align: center;
  }
  .yogaholidaytext2 {
    color: white;
    background-color: #0651a100;
    padding: 0px;
    margin: 20px 20px;
  }
  .training-card {
    width: 100%;
  }
  .xl-text > div {
    position: relative;
  }
  .class-discription-text {
    margin-top: 0;
  }
  .groupclass-text {
    margin-top: 0;
  }
  .groupcard-wrapper {
    flex-direction: column;
  }
  .golditem-card-wrapper {
    flex-direction: column;
    justify-self: center;
  }
  .backbandimgsize {
    order: 2;
  }
  
}
